/*!
Theme Name: Cream Soda
Theme URI:
Author: Zemez
Author URI:
Description: Kava child theme.
Template: kava
Version: 1.0.0
License: GNU General Public License v3 or later
License URI: http://www.gnu.org/licenses/gpl-3.0.html
Text Domain: creamsoda
*/
.pointer-events .jet-woo-product-thumbnail {
    pointer-events: none;
}
.pointer-events .jet-woo-product-title{
    pointer-events: none;
 }
.home_left_column {
    position: absolute !important;
    z-index: 999;
}
.home_right_column {
    width: 100% !important;
}
.vertical_menu .elementor-widget-container {
    cursor: pointer;
}
.vertical_menu {
    max-width: 88px;
}
.vertical_menu .elementor-widget-container:hover ul li a span i{
    color: #fff !important;
}
.vertical_menu .elementor-widget-container span.elementor-icon-list-text {
    opacity: 0 !important;
}
.vertical_menu .cls-1{
    color: #141b1b !important;
}
.vertical_menu .elementor-widget-container:hover ul li a span.elementor-icon-list-text {
    opacity: 1 !important;
    color: #fff !important;
    transition: all 0.3s ease-in-out;
    background-color: #222222;
    padding: 5px 50px !important;
    margin-left: 15px;
}
.vertical_menu .elementor-widget-container .elementor-icon-list-item a span {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.vertical_menu:hover .elementor-widget-container {
    border-radius: 50% !important;
}
.vertical_menu:hover .elementor-widget-container ul li a span i {
    color: #fff !important;
}
.vertical_menu:hover .elementor-icon-list-icon path{
    fill: #fff ;
}
.left_block_menu_down{
    max-width: 84px;
}
.carousel_home a.jet-carousel__item-link img {
    max-width: 95px !important;
}
.carousel_home .jet-carousel__item-title a{
	color: #1A2320 !important;
}
.carousel_home a.jet-carousel__item-link img {
    background-color: #b6ece5;
    padding: 25px;
    border-radius: 50% !important;
}
.carousel_home a.jet-carousel__item-link img {
    background-color: #b6ece5;
    padding: 18px;
    border-radius: 50% !important;
    width: auto;
    max-height: 89px;
    transition-duration: 0.8s;
}
.carousel_home .jet-carousel__item-inner:hover a.jet-carousel__item-link img {
	background-color: #fff;
	transition-duration: 0.3s;
}
.rotate_text li.elementor-icon-list-item{
    -webkit-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    -o-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    transform: rotate(-90deg);
}
.rotate_text .elementor-icon-list-text {
    min-width: 250px;
}
iframe {
  overflow: hidden;
}
iframe {
    border-radius: 2%;
}
.jet-woo-product-excerpt {
    min-height: 45px;
}
.xt_wooqv-is-light-bg .xt_wooqv-item-info p.price, .xt_wooqv-is-light-bg .xt_wooqv-item-info span.price {
    color: #1a2322;
    font-weight: 600;
}
.product_meta {
    display: none;
}
.xt_wooqv-modal-buttons-pos-inline .xt_wooqv-item-info .quantity {
    margin-right: 0 !important;
}
.xt_wooqv-button.xt_wooqv-more-info.button {
    display: none;
}
.woocommerce .button{
	background-color: #1a2322 !important;
}
.woocommerce .button:hover{
	background-color: #73cdc6 !important;
}
#xt_wooqv a {
    color: #fff;
}
.added_to_cart.wc-forward{
	background-color: #1a2322 !important;
}
.added_to_cart.wc-forward:hover{
	background-color: #73cdc6 !important;
}
.woocommerce-message::before {
    background-color: #1a2322 !important;
}
.woocommerce-cart table tr td.actions > .button{
	color:#fff !important;
}
.woocommerce-info::before {
    background-color: #1a2322 !important;
}
 .woocommerce-cart .cart-collaterals table tr.order-total .amount {
    color: #1a2322 !important;
}
.woocommerce-shipping-calculator a {
	font-weight: 600;
	color: #73cdc6 !important;
}
.woocommerce-cart .cart-collaterals {
    padding: 5px 25px 25px !important;
}
.checkout.woocommerce-checkout tfoot {
    display: block;
}
.woocommerce-checkout .woocommerce-checkout-review-order table tr td:last-child {
    width: auto !important;
}
.checkout.woocommerce-checkout .woocommerce-shipping-fields {
    display: none;
}
.pointer-events .jet-woo-products__item:hover .jet-woo-product-button a.xt_wooqv-trigger.button.alt.xt_wooqv-before.xt_wooqv-icontype-font{
	box-shadow: 0px 0px 10px 0px #73CDC6;
}
@media(min-width: 1200px){

	.carousel_home .jet-arrow.prev-arrow.slick-arrow i {
	    left: -15px;
	    position: relative;
	}
	.carousel_home .jet-arrow.next-arrow.slick-arrow i {
	    position: absolute;
	    right: -10px;
	}
}